# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\myPython\test\PCLtest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
